---
import { getAllArticles, getAllSubjects } from '@/utils/content';
import type { GetStaticPaths, Page } from 'astro';
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ArticleTeaser from '@/components/ArticleTeaser.astro';
import Pagination from '@/components/Pagination.astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const subjects = await getAllSubjects();
  const allArticles = await getAllArticles();

  return subjects.flatMap((subject) => {
    const subjectArticles = allArticles
      .filter((a) => a.data.subjects?.some((s) => s.id === subject.data.id))
      .sort((a, b) => b.data.published.localeCompare(a.data.published));
    return paginate(subjectArticles, {
      params: { id: subject.data.id },
      props: { name: subject.data.name },
      pageSize: 10,
    });
  });
};

interface Props {
  name: string;
  page: Page<CollectionEntry<'articles'>>;
}

const { name, page } = Astro.props as unknown as Props;
---

<BaseLayout title={page.currentPage > 1 ? `${name} (page ${page.currentPage})` : name}>
  <main id="maincontent" class="wrapper">
    <h1>{name}</h1>
    <ol class="teaser-list">
      {page.data.map((article) => <ArticleTeaser article={article} />)}
    </ol>
    <Pagination
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      prevHref={page.url.prev}
      nextHref={page.url.next}
    />
  </main>
</BaseLayout>
